@font-face {
    font-family: "GalaxyVue";
    src: url('./SfDistantGalaxyRegular.ttf');
}

@font-face {
    font-family: "GalaxyVueSymbol";
    src: url('./SfDistantGalaxySymbols.ttf');
}

@font-face {
    font-family: "GalaxyVueOutline";
    src: url('./SfDistantGalaxyOutline.ttf');
}


@font-face {
    font-family: "GalaxyVueNews";
    src: url('./NewsGothicStd.otf');
}