.starJediFont {
  font-family: GalaxyVue !important;
}

.starJediSymbolFont {
  font-family: GalaxyVueSymbol !important;
}

.starJediOutlineFont {
  font-family: GalaxyVueOutline !important;
}

.starJediNewsFont {
  font-family: GalaxyVueNews !important;
}

.originalTheme{
  color: #ffe81f !important;
}

.cloneTheme{
  color: white;
}

.sithTheme{
  color: white;
}

.empireTheme{
  color: black !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.v-navigation-drawer.originalTheme, .v-btn.originalTheme {
  background-size: 400% 400% !important;
  background: linear-gradient(-45deg, black, rgb(44, 40, 30));
  animation: gradient 10s ease infinite;
  border: 1px solid #ffe81f;
}

.v-navigation-drawer.cloneTheme, .v-btn.cloneTheme  {
  background-size: 400% 400% !important;
  background: linear-gradient(-45deg, rgb(0, 26, 48), rgb(0, 39, 99));
  animation: gradient 10s ease infinite;
  border: 1px solid white;
}

.v-navigation-drawer.empireTheme, .v-btn.empireTheme{
  background-size: 400% 400% !important;
  background: linear-gradient(-45deg, white, whitesmoke);
  animation: gradient 8s ease infinite;
  border: 1px solid black;
}

.v-navigation-drawer.sithTheme, .v-btn.sithTheme{
  background-size: 400% 400% !important;
  background: linear-gradient(-45deg, black, rgb(41, 13, 13));
  animation: gradient 8s ease infinite;
  border: 1px solid red;
}