@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.originalTheme {
  background-size: 400% 400% !important;
  background: linear-gradient(-45deg, black, rgb(44, 40, 30));
  animation: gradient 10s ease infinite;
  color: #ffe81f !important;
  border: 1px solid #ffe81f;
}

.v-btn.originalTheme:hover {
  background: linear-gradient(-45deg, #ffe81f, #fff06d);
  color: black !important;
  border: 1px solid transparent;
}

.cloneTheme {
  background-size: 400% 400% !important;
  background: linear-gradient(-45deg, steelblue, blue);
  animation: gradient 10s ease infinite;
  color: white;
}

.v-btn.cloneTheme:hover {
  background: linear-gradient(-45deg, lightblue, steelblue);
  color: black;
}

.sithTheme {
  background-size: 400% 400% !important;
  background: linear-gradient(-45deg, black, rgb(41, 13, 13));
  animation: gradient 8s ease infinite;
  color: white;
  border: 1px solid red;
}

.v-btn.sithTheme:hover {
  background: linear-gradient(-45deg, red, rgb(99, 0, 0));
  border: 1px solid transparent;
}

.empireTheme {
  background-size: 400% 400% !important;
  background: linear-gradient(-45deg, white, whitesmoke);
  animation: gradient 8s ease infinite;
  color: black !important;
  border: 1px solid black;
}

.v-btn.empireTheme:hover {
  background: linear-gradient(-45deg, black, rgb(44, 44, 44));
  color: white !important;
  border: 1px solid white;
}