.v-btn.originalTheme {
  color: 1px solid #ffe81f;
}

.v-btn.originalTheme:hover {
  background: linear-gradient(-45deg, #ffe81f, #f8e53b);
  color: black !important;
  border: 1px solid transparent;
}

.v-btn.cloneTheme {
  color: 1px solid white;
}

.v-btn.cloneTheme:hover {
  background: linear-gradient(-45deg, rgb(245, 196, 35), rgb(255, 123, 0));
  color: black;
  border: 1px solid transparent;
}

.v-btn.sithTheme {
  color: red;
}

.v-btn.sithTheme:hover {
  background: linear-gradient(-45deg, red, rgb(99, 0, 0));
  color: black;
  border: 1px solid transparent;
}

.v-btn.empireTheme {
  color: 1px solid black;
}

.v-toolbar__content>.v-btn.empireTheme {
  color: black !important;
}

.v-btn.empireTheme:hover {
  background: linear-gradient(-45deg, black, rgb(44, 44, 44));
  color: white !important;
  border: 1px solid white;
}